*{
  margin: 0;
  padding: 0;
}
.App {
  background-color: rgb(147, 147, 245);
  height: 100vh;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
